[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = https://github.com/dracula/vim
[submodule "bundle/nord-vim"]
	path = bundle/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-tmux"]
	path = bundle/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/snow"]
	path = bundle/snow
	url = https://github.com/nightsense/snow
[submodule "bundle/vim-color-forest-night"]
	path = bundle/vim-color-forest-night
	url = https://github.com/sainnhe/vim-color-forest-night
[submodule "bundle/nord-vim"]
	path = bundle/nord-vim
  url = https://github.com/arcticicestudio/nord-vim
[submodule "bundle/base16-vim"]
	path = bundle/base16-vim
	url =	https://github.com/chriskempson/base16-vim.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url =	https://github.com/Yggdroot/indentLine
[submodule "bundle/vim-prettier"]
	path = bundle/vim-prettier
	url = https://github.com/prettier/vim-prettier
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url =	git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-devicons"]
	path = bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
